<!DOCTYPE html>
<html>
<head>
    <% include ./Shared/head.ejs %>
    <script src="javascripts/valid/userSign.js"></script>
</head>
<body>
<div class="container">
    <!-- TODO: add '.hidden' class on $("#signIn") -->
    <% include ./Shared/header.ejs %>
    <div class="row content">
        <div class="col-sm-2 hidden-xs"></div>
        <div class="col-sm-8 center-block text-center">
            <div class="tbColour2 tfBlack logInBox cardBox">
                <% include ./Shared/fbHeader.ejs %>
                <!-- TODO: change name-->
                <form id="signIn" class="form-horizontal text-justify" role="form" method="post" action="/entering">
                    <div class="form-group">
                        <label for="email" class="col-sm-4">Enter your account:&nbsp;</label>
                        <div class="col-sm-8 text-left">
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Please enter your e-mail as loggin account">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="col-sm-4">Enter your password:&nbsp;</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="pwd" name="pwd"
                                   placeholder="Please enter your password">
                        </div>
                    </div>
                    <div class="text-center verticalMargin">
                        <button type="submit" class="btn tbColour5 tfWhite" onclick="signIn()">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2 hidden-xs"></div>
    </div>
    <% include ./Shared/footer.ejs %>
</div>
</body>
</html>