<div>
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-10 center-block text-center">
        <div></div>
        <div class="col-sm-4 text-center cardMargin cardBox">
            <p class="youTube">
                <iframe width="640" height="360"
                        src="https://www.youtube.com/embed/CDGStGHQM5M?rel=0&amp;showinfo=0"
                        frameborder="0" allowfullscreen></iframe>
            </p>
            <div class="text-center handCursor" data-toggle="modal" data-target="#modal1">
                <H4>The Blue Hearts</H4>
                <H5>Train Train</H5>
            </div>
            <div class="modal fade" id="modal1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content tbColour1 tfColour5">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">The Blue Hearts</h3>
                        </div>
                        <div class="modal-body text-justify">
                            <p>A punk rock band from Japan:<br/><br/>
                                THE BLUE HEARTS (ザ・ブルーハーツ) was a popular Japanese upbeat
                                punk rock band. Its members were Hiroto Kōmoto (vocalist), Masatoshi Mashima
                                (guitarist), Jun'nosuke Kawaguchi (Bassist) and Tetsuya Kajiwara (Drummer). The group
                                made its major debut in May 1987. THE BLUE HEARTS broke up in 1995 and Koumoto and
                                Mashima went on to found another band, ↑THE HIGH-LOWS↓.<br/><br/>Some of their songs are
                                popular, especially Train-Train which nowadays can be found in many karaoke boxes. One
                                of their songs Linda Linda was used in the 2005 Nintendo DS video game Ouendan, the 2004
                                drama Sekai no chūshin de, ai wo sakebu and the 2005 film Linda Linda Linda. A portion
                                of the song is also used as the theme song for the podcast Ctrl+Alt+Chicken.<br/><br/>Recently
                                Hiroto Kômoto (vocal) and Masatoshi Mashima (guitar) left The High-Lows and founded
                                another band named ザ・クロマニヨンズ which have released three singles and two albums so
                                far.<br/>Hiroto also made a short solo carreer which lasted for about 4 month. He
                                released
                                a single.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center cardMargin cardBox">
            <p class="youTube">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/svIgqPSYu34?rel=0&amp;showinfo=0"
                        frameborder="0" allowfullscreen></iframe>
            </p>
            <div class="text-center handCursor" data-toggle="modal" data-target="#modal2">
                <H4>The Moonshiners</H4>
                <H5>Blue Night's BEAT!</H5>
            </div>
            <div class="modal fade" id="modal2" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content tbColour1 tfColour5">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">The Moonshiners</h3>
                        </div>
                        <div class="modal-body text-justify">
                            <p>Korean indie band consisting of former members of bands such as No Brain, 3호선 버터플라이 and
                                Ghetto Bums. The band is led by the vocal Cha Sueng Woo, who was the original member of
                                a Korean punk rock band "No Brain". Their music is strongly reminiscent of the early
                                rock n roll and rockabilly era.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-4 text-center cardMargin cardBox">-->
        <!--<p class="youTube">-->
        <!--<iframe width="640" height="360"-->
        <!--src="https://www.youtube.com/embed/CDGStGHQM5M?rel=0&amp;showinfo=0"-->
        <!--frameborder="0" allowfullscreen></iframe>-->
        <!--</p>-->
        <!--<div class="text-center">-->
        <!--<H4>The Blue Hearts</H4>-->
        <!--<H5>Train Train</H5>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 text-center cardMargin cardBox">-->
        <!--<p class="youTube">-->
        <!--<iframe width="640" height="360"-->
        <!--src="https://www.youtube.com/embed/CDGStGHQM5M?rel=0&amp;showinfo=0"-->
        <!--frameborder="0" allowfullscreen></iframe>-->
        <!--</p>-->
        <!--<div class="text-center">-->
        <!--<H4>The Blue Hearts</H4>-->
        <!--<H5>Train Train</H5>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 text-center cardMargin cardBox">-->
        <!--<p class="youTube">-->
        <!--<iframe width="640" height="360"-->
        <!--src="https://www.youtube.com/embed/CDGStGHQM5M?rel=0&amp;showinfo=0"-->
        <!--frameborder="0" allowfullscreen></iframe>-->
        <!--</p>-->
        <!--<div class="text-center">-->
        <!--<H4>The Blue Hearts</H4>-->
        <!--<H5>Train Train</H5>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 text-center cardMargin cardBox">-->
        <!--<p class="youTube">-->
        <!--<iframe width="640" height="360"-->
        <!--src="https://www.youtube.com/embed/CDGStGHQM5M?rel=0&amp;showinfo=0"-->
        <!--frameborder="0" allowfullscreen></iframe>-->
        <!--</p>-->
        <!--<div class="text-center">-->
        <!--<H4>The Blue Hearts</H4>-->
        <!--<H5>Train Train</H5>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="col-sm-1 hidden-xs"></div>
</div>
