<div class="fbLogIn tfWhite">
    <a href="/auth/facebook" class="fbLogIn tfNoHoverWhite noDeco">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;<%= title %>&nbsp;with facebook
    </a>
</div>
<div class="orLine">
    <hr class="hrLeft"/>
    or
    <hr class="hrRight"/>
</div>
