<footer class="tfColour1">
    <hr/>
    <nav class="navbar">
        <div class="navbar-header">
            <b>INFO8250</b> Project by A. Santos &amp; J. Ryu
        </div>
        <div class="navbar-right">
            &copy&nbsp;
            <%= (new Date()).getFullYear() %>
            &nbsp;Heisenberg Purity
        </div>
    </nav>
</footer>