<div id="logo">
    <div id="LogoUpper">
        <img src="/images/Logo/Li.png" class="Logo_img">
        <span class="Logo_text tfColour5">thiu</span>
    </div>
    <div id="LogoLower">
        <span class="Logo_text tfColour5">M</span>
        <img src="/images/Logo/U.png" class="Logo_img">
        <span class="Logo_text tfColour5">sic</span>
    </div>
</div>