<ul class="nav navbar-nav">
    <li><a href="#" class="tfHover4">Get New Artist</a></li>
    <li><a href="#" class="tfHover4">My Favourite</a></li>
    <li><a href="#" class="tfHover4">My Playlist</a></li>
</ul>