<ul class="nav navbar-nav navbar-right">
    <!--<li><a href="/Home" class="tfHover4">-->
            <!--<div id="userHome"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</div>-->
        <!--</a></li>-->
    <li><a href="/signOut" class="tfHover4">
            <div id="signOUt"><span id="" class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Sign Out</div>
        </a></li>
</ul>