<ul class="nav navbar-nav navbar-right">
    <li><a href="/SignUp" class="tfHover4">
            <div id="signUp"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sign Up</div>
        </a></li>
    <li><a href="/SignIn" class="tfHover4">
            <div id="signIn"><span id="" class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Sign In</div>
        </a></li>
</ul>